<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLE_Control.Properties.Settings.ledquangcaoConnectionString"
            connectionString="Data Source=DESKTOP-U790TPU\WINCC;Initial Catalog=ledquangcao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLE_Control.Properties.Settings.ledquangcaoConnectionString1"
            connectionString="Data Source=DESKTOP-FE3R8E3\ADMIN;Initial Catalog=ledquangcao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>